//------ Social Icon Colors ------//
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;

$error: #d32f2f;

//------ Other Colors -------//
$primaryBlue_color: #3361ff;
$secondaryBlue_color: #2e69ff;
$tertiaryBlue_color: #2196f3;
// $secondary_color: #4D5E80;

//-----Background Color-----//
$primarybackground: #f7f8fa;
$secondaryBackground: #f1f2f2;
$tertiaryBackground: #f6f6f6;

//------ Text Color------//
$primaryText: #4d5e80;
$secondarytext: #161921;
$primarySubtext: #7d8fb3;
$descriptionText: #6e81a7;
$postDescriptionText: #76849f;
$postUsername: #282829;
$postQuesText: #212734;

$tagsBorder: #dee0e1;
$navbarBorder: #edeff2;
$icons: #c3cad9;
$searchtextPlaceholder: #adb8cc;

$black: #000000;
$white: #ffffff;

$primaryPosticon: #2c2c2c;
$secondaryPosticon: #aeb5c2;
$tertiaryPosticon: #bcc3cd;
// #B6BDCB comment
// #1F1F1F
// #F9F9F9
// #898F99
// #D8D8D8
